body {
    margin: 0;
    background-color:#EFEFD0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #0D160B;
}

.navbar a {
    float: right;
    color: #EFEFD0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.navbar a:hover {
    background-color: #646F4B;
    color: #0D160B;
}

.navbar a.active {
    background-color: #FF6B35;
    color: #0D160B;
}